*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html{
  font-size: 62.5%
}



/* Navbar */
.navbar{
  width: 100%;
  height: 10vh;
  background-color: #0c0a0a !important;
  padding-block: 1rem;
}



/* Auth */
/* Login Page & Register Page*/
.login-page, .register-page{
  width: 100%;
  height: 90vh;
  /* background-color: yellow; */
  /* border: 2px solid red; */
  background: url('./assets/Img/loginBg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-login, .left-register{
  width: 50%;
  height: 100%;
}
.right-login, .right-register{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card{
  width: 50%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.253) !important;
  /* border-right: .2rem solid white; */
  /* border-bottom: .2rem solid white; */
  /* position: relative; */
  /* right: 15%;
  bottom: 3%; */
}

/* Register Card */
.register-card{
  width: 50%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.253) !important;
}
.link{
  color: #2196f3;
}
.link:visited{
  color: #bbdefb;
}